:local(.base) {
    .tyson_toolbar {
        text-align: center;
       .tyson_text {
           .tyson_link {
               color: #fff;
               text-decoration: none;
               font-weight: 700;
           }
       }
    }
}